﻿@model IEnumerable<internBlog.Models.Post>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Blogs</h2>
@Html.ActionLink("Create New", "InsertPost", null, null, new { @class = "btn btn-info d-inline" })



@if (Model != null)
{
    <div class="container">
        @foreach (var item in Model)
        {
            <h1>@Html.DisplayFor(modelItem => item.ptitle)</h1>
            <p>@Html.DisplayFor(modelItem => item.pauthor), @Html.DisplayFor(modelItem => item.ppostDate)</p>
            <p>@Html.DisplayFor(modelItem => item.pbody)</p>
            <p>@Html.ActionLink("Read more.....", "PostDetail", new { id = item.pid })</p>
            <hr />
        }
    </div>
}


<div class="">
    <div class="modal fade bd-example-modal-lg" id="blog-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content p-4">
                <div id="blog-title">
                </div>
                <div id="blog-body">
                </div>
                <div id="submit-button">

                </div>
                <button class="btn btn-primary" onclick="submitPost()">Submit</button>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content p-4">
                <h3>Are you sure about deleting post?</h3>
                <p>
                    <button class="btn btn-primary" onclick="hideDeleteModal()">Cancel</button>
                    <button class="btn btn-danger" onclick="deletePost()">Delete</button>
                </p>
            </div>
        </div>
    </div>
    <div id="blogs">

    </div>

</div>




@section scripts{
    @using System.Web.Optimization
    @Scripts.Render("~/bundles/jqueryval")


    <script>
        $(document).ready(function () {
            getList();
        });

        function getList() {
            $.ajax({
                url: '/Post/GetList',
                method: 'get',
                dataType: 'json',
                success: function (data) {
                    var es = '';
                    var i = 1;
                    $.each(data, function (key, item) {
                        console.log(i);
                        es += `<br />
                                <div id="title"><h1>` + item.ptitle + `</h1></div>
                                <div id="image">
                                    <img class="img-fluid" src="`+ item.pimagePath + `">
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p id="author">` + item.pauthor + `</p>
                                    <p id="date">` + item.ppostDate + `</p>
                                </div>
                                <div id="body">` + item.pbody.substring(0, 250) + `...</div>
                                <input type="hidden" id="pid" value=`+ item.pid + `></input>
                                <div>
                                    <button class='btn btn-primary' onclick='detailPost()'>Details</button>
                                    <button class='btn btn-info' onclick='updatePost()'>Update</button>
                                    <button class='btn btn-danger' onclick='showDeleteModal()'>Delete</button>
                                </div><br>`;
                        i++;
                    });
                    if (data.length === 0) {
                        es += `<center><h1> No posts added :(</h1></center>`;
                    }
                    $('#blogs').html(es);
                },
                error: function (error) {
                    console.log("Hello! error has occurred");
                }
            });
        }

        function submitPost() {
            var formData = new FormData();
            let pid = $('#pid').val().trim();
            let ptitle = $('#ptitle').val().trim();
            let pbody = $('#pbody').val().trim();
            let pimagePath = $('#ppathImage').val().trim();
            let imageFile = document.getElementById("ppathImage").files[0];
            console.log(pimagePath);
            if (pimagePath == '') {
                console.log("no image selected");
                pimagePath = $('#oldImagePath').attr('src');
            } 
            if (ptitle === '') {
                toastr.error("Please fill out the title.");
            } else if (pbody === '') {
                toastr.error("Please fill out the body.");
            } else {
                formData.append('pid', pid);
                formData.append('ptitle', ptitle);
                formData.append('pbody', pbody);
                formData.append('pimagePath', pimagePath);
                formData.append('imageFile', imageFile);
                $.ajax({
                    url: '/Post/UpdatePost',
                    method: 'post',
                    dataType: 'json',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        toastr.success("Post updated!");
                        $('#blog-modal').modal('hide');
                        getList();

                    },
                    error: function (request, status, error) {
                        toastr.error("error has occurred!");
                        console.log(error);
                    }
                });
            }
        }

        function detailPost() {
            let pid = $('#pid').val().trim();
            $.ajax({
                url: '/Post/PostDetail?id=' + pid,
                method: 'get',
                success: function (data) {
                    let title = `<h1>` + data[0].ptitle + `</h1>`;
                    let body = `<p>` + data[0].pbody + `</p>`;
                    $('#blog-title').html(title);
                    $('#blog-body').html(body);
                    $('#blog-modal').modal('show');
                },
                error: function (error) {
                    toastr.error("Error occurred while opening post.");
                    console.log(error);
                }
            });
        }

        function updatePost() {
            let pid = $('#pid').val().trim();
            $.ajax({
                url: '/Post/PostDetail?id=' + pid,
                method: 'get',
                success: function (data) {
                    var titleField = `<h2>Title</h2><input class="form-control" type="text" id="ptitle" value="` + data[0].ptitle + `" />`;
                    var bodyField = `<h2>Body</h2>
                                        <input class="form-control" type="file" id="ppathImage" accept="image/*" />
                                        <img id="oldImagePath" class="img-fluid" src="`+ data[0].pimagePath + `">
                                        <textarea class="form-control" type="text" id="pbody" rows="10">` + data[0].pbody + `</textarea>`;
                    $('#blog-title').html(titleField);
                    $('#blog-body').html(bodyField);
                    $('#blog-modal').modal('show');
                },
                error: function (error) {
                    toastr.error("Error occurred while opening post.");
                    console.log(error);
                }
            });
        }

        function showDeleteModal() {
            $("#delete-modal").modal('show');
        }

        function hideDeleteModal() {
            $("#delete-modal").modal('hide');
        }

        function deletePost() {
            let pid = $('#pid').val().trim();
            data = {
                pid,
            }
            $.ajax({
                url: '/Post/DeletePost',
                method: 'post',
                dataType: 'json',
                data: data,
                success: function () {
                    toastr.success("Post deleted!");
                    hideDeleteModal();
                    getList();
                },
                error: function () {
                    toastr.error("Error occurred while deleting post.");
                }
            });
        }
    </script>

}

