﻿@model internBlog.Models.Post

@{
    ViewBag.Title = "InsertPost";
}

<h2>InsertPost</h2>

<div class="form-horizontal">
    <h4>Post</h4>
    <hr />
    <div class="form-group">
        <h5>Title</h5>
        <input class="form-control" type="text" id="ptitle" />
    </div>
    <div class="form-group">
        <h5>Image</h5>
        <input class="form-control" type="file" id="ppathImage" accept="image/*"/>
    </div>
    <div class="form-group">
        <h5>Body</h5>
        <textarea class="form-control" type="text" id="pbody"></textarea>
    </div>
    <div class="form-group">
        <h5>Author</h5>
        <input class="form-control" type="text" id="pauthor" />
    </div>
    <br />

</div>

<div>
    <button class="btn btn-primary" onclick="submitPost()">Submit</button>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-warning" })
</div>


@section scripts{
    @using System.Web.Optimization
    @Scripts.Render("~/bundles/jqueryval")


<script>
    function submitPost() {
        var formData = new FormData();
        let ptitle = $('#ptitle').val().trim();
        let pbody = $('#pbody').val().trim();
        let pauthor = $('#pauthor').val().trim();
        let pimagePath = $('#ppathImage').val().trim();
        let imageFile = document.getElementById("ppathImage").files[0];
        if (ptitle === '') {
            toastr.error("Please fill out the title.");
        } else if (pbody === '') {
            toastr.error("Please fill out the body.");
        } else if (pauthor === '') {
            toastr.error("Please fill out the author name.");
        } else if (ppathImage === '') {
            toastr.error("Please select a image.");
        } else {
            formData.append('ptitle', ptitle);
            formData.append('pbody', pbody);
            formData.append('pauthor', pauthor);
            formData.append('pimagePath', pimagePath);
            formData.append('imageFile', imageFile);
            $.ajax({
                url: '/Post/InsertPost',
                method: 'post',
                dataType: 'json',
                data: formData,
                //contentType: 'multipart/form-data',
                contentType: false,
                processData: false,
                success: function (data) { 
                    toastr.success("Post added!");
                    reset();
                },
                error: function (request, status, error) {
                    toastr.error("error has occurred!");
                    console.log(error);
                }
            });
        }
    }
                    
    function reset() {
        $('#ptitle').val('');
        $('#pbody').val('');
        $('#pauthor').val('');
    }
    ////$(document).ready(function () {
    ////    function submitPost() {
    ////        let ptitle = $('#ptitle').val().trim();
    ////        let pbody = $('#pbody').val().trim();
    ////        let pauthor = $('#pauthor').val().trim();
    ////        if (ptitle === '') {
    ////            toastr.error("Please fill out the title.");
    ////        } else if (pbody === '') {
    ////            toastr.error("Please fill out the body.");
    ////        } else if (pauthor === '') {
    ////            toastr.error("Please fill out the author name.");
    ////        }
    ////    }
    ////});
</script>

}