﻿@model IEnumerable<internBlog.Models.PostDetails>

@{
    ViewBag.Title = "PostDetail";
    int postId = Model.First().pid;
    string cuser = "Kiran";
}

@if (Model.Count() > 0)
{
    <h1>@Html.DisplayFor(modelItem => Model.First().ptitle)</h1>
    <p>@Html.DisplayFor(modelItem => Model.First().pauthor), @Html.DisplayFor(modelItem => Model.First().ppostDate)</p>
    <p>@Html.DisplayFor(modelItem => Model.First().pbody)</p>
    <hr />
    <h4>Comments</h4>
    <form method="post">
        <div class="form-group">
            <p><input class="form-control" name="cbody" type="text" placeholder=""></p>
            <p><input class="form-control" name="pid" type="hidden" placeholder="" value=@Model.First().pid></p>
            <p><input class="form-control" name="cuser" type="hidden" placeholder="" value=@cuser></p>
            <input type="submit" value="Comment" class="btn btn-primary" />
        </div>
    </form>
}

<div class="container">
    @foreach (var item in Model)
    {
        if (item.cbody != null)
        {
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <p>@Html.DisplayFor(modelItem => item.cuser)</p>
                    </div>
                    <div class="card-text">
                        <p>@Html.DisplayFor(modelItem => item.cbody)</p>
                    </div>
                </div>
                <p>
                    @Html.ActionLink("Delete", "DeleteComment", null, null, new { @class = "btn btn-danger" }) &nbsp; &nbsp; &nbsp; &nbsp; @Html.DisplayFor(modelItem => item.cpostDate)
                </p>
            </div>
            <hr />

        }
        else
        {
            <p>No comments yet. :(</p>
        }

    }
</div>



@section scripts{
    @using System.Web.Optimization
    @Scripts.Render("~/bundles/jqueryval")


    <scripts>

    </scripts>

}